

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial, sans-serif;
  table-layout: fixed;

  background: white;
}

thead {
  /* background: black; */
}


th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  text-align: left;
}

td {
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  align-items: center;
}

.table-container {
  border: 1px solid lightgray;
  margin: 1rem;
}

