

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial, sans-serif;
  table-layout: fixed;

}

thead {
  /* background: black; */
}


th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
  /* border-right: 1px solid lightgray; */
  border-bottom: 1px solid lightgray;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  align-items: center;
}

.table-container {
  border: 1px solid lightgray;
  margin-top: 1rem;
}

